@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Add a Product";
}



@* <h4>Product</h4>
<hr /> *@
<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Add a Product</h1>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductPrice" class="control-label"></label>
                        <input asp-for="ProductPrice" class="form-control" />
                        <span asp-validation-for="ProductPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDescription" class="control-label"></label>
                        <input asp-for="ProductDescription" class="form-control" />
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductStatusId" class="control-label"></label>
                        <select asp-for="ProductStatusId" class="form-control" asp-items="ViewBag.ProductStatusId"></select>
                    </div> 
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDiscontinued" /> @Html.DisplayNameFor(model => model.IsDiscontinued)
                        </label>
                    </div> 
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Supplier" class="control-label"></label>
                        <select asp-for="Supplier.SupplierName" class="form-control" asp-items="ViewBag.SupplierId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductImage" class="control-label"></label>
                        @* <input asp-for="ProductImage" class="form-control" /> *@
                        <input type="file" asp-for="Image" class="form-control"/>
                        <span asp-validation-for="ProductImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Products</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
