@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact Us";
}

<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Contact Us</h1>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2 text-light">
                <form asp-action="Contact">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label"></label>
                        <input asp-for="Message" class="form-control" />
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
