@{
    ViewData["Title"] = "Home";
}

<!-- banner section start -->
<div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="banner_taital">From our family to yours</h1>
                    <p class="banner_text">Ambrosi Bros has been a family-owned and operated business since 1959.</p>
                    <div class="read_bt"><a asp-action="About" asp-controller="Home">Learn more</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="banner_taital">We stay sharp</h1>
                    <p class="banner_text">Ask us how you can too with our sharpening services!</p>
                    <div class="read_bt"><a asp-action="Contact" asp-controller="Home">Contact</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="banner_taital">Need new kitchen gadgets?</h1>
                    <p class="banner_text">We've got you covered.</p>
                    <div class="read_bt"><a asp-action="TiledProducts" asp-controller="Products">Shop</a></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-plus" style="font-size:24px; color: #fff;"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-minus" style="font-size:24px;  color: #fff;"></i>
        </a>
    </div>
</div>
<!-- banner section end -->
<!-- header section end -->
<!-- background bg start -->
<div class="background_bg">
    <!-- watchs section start -->
    <div class="watchs_section layout_padding">
        <div class="container">
            <h1 class="watchs_taital">A glance at<br>what we offer</h1>
            <div class="watchs_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image_1"><img src="~/images/chefsknife.jpg"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="uni_text">Chef's Knife</h4>
                        <p class="watchs_text">A high-quality chef's knife for slicing and dicing.</p>
                        <h4 class="rate_text"><span style="color: #b60213;">$</span>49.99</h4>
                        <div class="read_bt1"><a asp-action="TiledProducts" asp-controller="Products">Buy Now</a></div>
                    </div>
                </div>
            </div>
            <div class="watchs_section_3">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="uni_text">Knife Block</h4>
                        <p class="watchs_text">A wooden knife block for safe and convenient storage of knives.</p>
                        <h4 class="rate_text"><span style="color: #b60213;">$</span>29.99</h4>
                        <div class="read_bt1"><a asp-action="TiledProducts" asp-controller="Products">Buy Now</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="image_2"><img src="~/images/knifeblock.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="seemore_bt"><a asp-action="TiledProducts" asp-controller="Products">See more</a></div>
        </div>
    </div>
    <!-- watchs section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <h1 class="watchs_taital">About Us</h1>
            <div class="about_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <p class="about_text">Ambrosi Brothers Cutlery was founded in 1959. We are a small family-owned and operated business serving the Kansas City metropolitan area. We specialize in knife sharpening and gourmet kitchen supplies.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="image_2"><img src="~/images/ambrosi+truck+about+us-338w.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="about_section_3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="border_main">
                            <div class="image_4"><img src="~/images/about-random.jpg"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="border_main">
                            <div class="image_4"><img src="~/images/about-random-2.jpg"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="border_main">
                            <div class="image_4"><img src="~/images/about-random-3.jpg"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="border_main">
                            <div class="image_4"><img src="~/images/about-random-4.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->
    <!-- testimonial section start -->
    <div class="testimonial_section layout_padding">
        <div class="container">
            <h1 class="watchs_taital">What our<br />customers say</h1>
            <div class="testimonial_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box_main">
                            <h6 class="client_name">Alan G.<p class="customer_text">Customer</p></h6>
                            <p class="testimonial_text">"I thankfully only need to have my cutlery sharpened infrequently but Ambrosi Brothers has done a phenomenal job each time. Most times it can be done while waiting but at most it can be picked up the following morning. The prices are extremely affordable especially for the high quality delivered."</p>
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="box_main">
                            <h6 class="client_name">Jumini Kiri<p class="customer_text">Customer</p></h6>
                            <p class="testimonial_text">"Came in to get my pocket knife sharpened. They did an excellent job. When I I came to pick it up The knife was razor sharp. Sharp enough to shave hair. It only cost me $6. But I felt like they treated me as I was purchasing a high-end product. Thank you very much Ambrosi brothers."</p>
                                
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <h1 class="watchs_taital">Get In Touch</h1>
        </div>
        <div class="contact_section_2">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-md-8 offset-md-1">
                        <div class="mail_section_1">
                            <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                            <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                            <input type="text" class="mail_text" placeholder="Email" name="Email">
                            <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Massage"></textarea>
                            <p class="text-center">
                            <div class="send_bt"><a href="#">SEND</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
</div>
<!-- background bg end -->