@model StoreFront.DATA.EF.Models.Knife

@{
    ViewData["Title"] = "Add a New Knife";
}

@* <h1>Create</h1> *@

@* <h4>Knife</h4>
<hr /> *@
<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Add a New Knife</h1>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2 text-light">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KnifeBrand.BrandName" class="control-label"></label>
                <select asp-for="KnifeBrandId" class ="form-control" asp-items="ViewBag.KnifeBrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KnifeType" class="control-label"></label>
                <input asp-for="KnifeType" class="form-control" />
                <span asp-validation-for="KnifeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnifePrice" class="control-label"></label>
                <input asp-for="KnifePrice" class="form-control" />
                <span asp-validation-for="KnifePrice" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="KnifeStatusId" class="control-label"></label>
                <select asp-for="KnifeStatusId" class ="form-control" asp-items="ViewBag.KnifeStatusId"></select>
            </div> *@
     @*        <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDiscontinued" /> @Html.DisplayNameFor(model => model.IsDiscontinued)
                </label>
            </div> *@
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
                    <div class="form-group">
                        <label asp-for="KnifeImage" class="control-label"></label>
                        @* <input asp-for="KnifeImage" class="form-control" /> *@
                        <input type="file" asp-for="Image" class="form-control" />
                        <span asp-validation-for="KnifeImage" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Knives</a>
</div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
