@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Email sent!</h1>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2 text-white">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>
